.title {
    cursor: pointer;
}

.title::before {
    content: '►';
    font-size: 0.5em;
    line-height: 1em;
    display: inline-block;
    margin-right: 5px;
    transform-origin: 50%;
    transform: rotate(0deg);
    transition: transform 0.1s linear;
}

.title.expanded::before {
    transform: rotate(90deg);
}